
<div class="comment">

  <h3><%= comment.commenter %>:</h3>
    <blockquote>
      <%= comment.body %>
    </blockquote>
    <%= link_to 'Destroy Comment', [comment.post,  comment], :confirm=> 'Are you sure?', :method =>:delete %>
  </p>
</div>

