

<div id="flash-notice" />

<div class="header">
  <div class="logo">
  </div>
  <div class="title">Road Tang's Garden.</div>
  <div class="subtitle">Simple is beauty, Pleasure is life.</div>
</div>

<div class="nav">
<div class="nav">
      <div class="wrap clearfix">
      	<div class="search fr">
          <form action="/search" id="cse-search-box" method="get">
            <input type="hidden" name="cx" value="007540752216561218107:cgbwg20yn_o">
            <input type="hidden" name="cof" value="FORID:10">
            <input type="hidden" name="ie" value="UTF-8">
            <input id="search-box" name="q" type="text" placeholder="Search" value="">
            <button id="search-button"></button>
          </form>
        </div>
        <ul>
          <li><a href="/" class="current">首页</a></li>
          <li><a href="/blog">博客</a></li>
          <li><a href="/note">笔记</a></li>
          <li><a href="/tag">分类</a></li>
          <li><a href="/weibo">微博</a></li>
          <li><a href="http://robbinfan.com/blog/28/about-robbin">关于</a></li>
        </ul>
      </div>
    </div> 
</div>

<div class="contanier">
  <div class="sidebar">
  </div>



<div class="center">
  <div class="well">
    Nothing here.  To be constructed.
  </div>
</div>
