<h1>Test#env</h1>
<p>Find me in app/views/test/env.html.erb</p>

<table border="1px">
  <caption>Environment from request</caption>
  <tr><th>key</th><th>value</th></tr>

  <%  request.env.each {|k,v| %>
  <tr><td><%= k %></td><td><%= v %></td></tr>
  <% } %>
</table>
