development: &development
  oauth2:
    google:
      key: "xxx"
      secret: "xx"
    twitter:
      key: "xx"
      secret: "xxx"
    github:
      key: "xx"
      secret: "xx"


production:
  oauth2:
    google:
      key: "xx"
      secret: "xx"
    twitter:
      key: "xx"
      secret: "xx"
    github:
      key: "xx"
      secret: "xx"

test: *development

