<!--<h1>Editing post</h1>-->
<div class="post edit">
  <%= render 'form' %>
</div>

<% links = []
links << link_to('Show', @post) if can? :read, @post
links << link_to('Back', posts_path)
%>
<%= raw links.join(' | ') %>
