
<div class="posts">

  <%= render :partial=>'post2', :collection=>@posts %>

<% @posts.each do |post| %>


<% end %>
</div>

<% if can? :create, Post %>
<%= link_to 'New Post', new_post_path %>
<% end %>
