.section {
  background-color: white;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  margin-bottom: 2em;
}
.section .title {
  border-bottom: 1px solid #eee;
}

.post {
  padding-bottom: 4em;
}
.post label {
  display: none;
}
.post input {
  padding-right: 1%;
  padding-left: 1%;
  width: 98%;
}
.post input[type="text"] {
  font-weight: bold;
  font-size: 2em;
}
.post .post-content {
  padding: 1em 1.5em 1em 2em;
}
.post .post-content .head {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.post .post-content .title {
  display: inline;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
.post .post-content .title a {
  text-decoration: none;
}
.post .post-content .tags {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
.post .post-content .tags .tag {
  border: 1px solid #A5D24A;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 1px;
  margin: 0em 2px;
  text-decoration: none;
  background: #CDE69C;
  color: #638421;
}
.post .post-content p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 2em;
}

.main-col .comments .add {
  margin: 1em 0em;
}
.main-col .comments .add textarea {
  min-width: 300px;
  width: 60%;
  height: 8em;
}
.main-col .comments .title {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}
.main-col .comments .comment {
  margin: 0.5em;
  border-bottom: 1px #eee solid;
}
.main-col .comments .comment blockquote {
  margin-left: 1em;
}

.sidebar .widget .title {
  border-bottom: 1px solid #eeeeee;
}
.sidebar .widget ul {
  list-style-type: none;
  margin: 1em 0em;
  padding-left: 1em;
}

@media screen and (max-width: 900px) {
  .sidebar .tags li {
    display: inline;
    padding: 0em 1em;
  }
}
