@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic");
/*-----------------------   Fonts       ---------------------------- */
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("font/fontawesome-webfont.woff") format("woff"), url("font/fontawesome-webfont.ttf") format("truetype"), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
}

/* -------------------------- reset -------------------------------*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0em;
}

/* ----------------------- layout  (with responsive design) --------------- */
body {
  background: #eee;
  color: #444;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
}

@media screen and (max-width: 1260px) {
  body {
    margin: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
}
a {
  text-decoration: none;
}

.header {
  background-color: #eee;
  min-height: 100px;
  min-width: 320px;
  /* header title */
  /* header sub bar */
  /* header's link  ( can be both in title or subbar) */
}
.header p {
  float: right;
  margin: 1em 0em 0em 0em;
}
.header a {
  color: #808080;
  margin-right: 0.7em;
  font-size: 1.2em;
}
.header a:hover {
  border-bottom: 2px green solid;
}

#header {
  margin-top: 3em;
}

.footer {
  background-color: #eee;
}

.main {
  margin: 5em auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.flash {
  background-color: white;
  margin-bottom: 30px;
  padding: 1em 2em;
}

/* responsive  two column layout */
.inner {
  width: 1200px;
  margin: 0 auto;
}

.main-col {
  width: 900px;
  float: left;
}

.sidebar {
  width: 270px;
  line-height: 1.8em;
  float: right;
}

.widget {
  background-color: white;
  margin-bottom: 50px;
}

@media screen and (max-width: 1260px) {
  .inner {
    width: 100%;
  }

  .main-col {
    width: 100%;
    margin-right: -300px;
    float: left;
  }

  .main-col .wrapper {
    margin-right: 300px;
  }
}
@media screen and (max-width: 900px) {
  .main-col {
    min-width: 320px;
    margin-right: 0;
    float: none;
  }

  .main-col .wrapper {
    margin-right: 0;
  }

  .sidebar {
    min-width: 320px;
    float: none;
    width: 100%;
  }
  .sidebar li {
    display: inline;
    padding: 0em 1em;
  }
}
/* make image, embed resize correspoding to container */
img {
  max-width: 100%;
  height: auto;
}

embed {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

input[type="text"] {
  border: 1px solid #DDD;
  padding: 5px 10px;
}
