
<div class="show">
<p>
  <b>Name:</b>
  <%= @show.name %>
</p>

<p>
  <b>Description:</b>
  <%= raw @show.description %>
</p>

<% links = []
links << link_to('Edit', edit_show_path(@show))  if can?(:edit, @show)
links << link_to( 'Back', shows_path)
%>
<%= raw links.join(' | ') %>
</div>
